@import "tailwindcss";

/* @tailwind base;
@tailwind components;
@tailwind utilities;   */

 body {
    
    transition:
     background-color 1s cubic-bezier(0.23,1,0.32,1),
     color 1s cubic-bezier(0.23,1,0.32,1);
    background-color: black;
    color: white;
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing:antialiased;

-moz-osx-font-smoothing:grayscale;

text-rendering:optimizeLegibility;
} 

 canvas {
    pointer-events: none;
     will-change:transform;

    transform:translateZ(0);

    backface-visibility:hidden;

    image-rendering:auto;
}

span.growing {
    background-color: #fd2c2a;
}

html,
body{
     width:100%;
    min-height:100%;
    overflow-x:hidden;
    overflow-y:auto;
    scroll-behavior:auto;
} 


